#bemvindo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bemvindo-conteudo{
    display: flex;
    flex-direction: column;
}

.bemvindo-conteudo-titulo{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    color: #F2F2F2;
}

.bemvindo-conteudo-subtitulo{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    color: #F2F2F2;
}

.bemvindo-conteudo-botao{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 35px;
}