/* CONTAINER  */

#container{
    width: 100%;
    display: flex;
}
.all-content-default{
    width: 100%;
}
.cont-out{
    width: 100%;
    min-height: 60vh;
    background: #e4eff6;
    position: relative;
    overflow: hidden;
}
.triangle-down {
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid white;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.welcome-out{
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.welcome-in{
    width: 70%;
    color: #61686c;
}
.text-welcome{
    max-width: 500px;
    margin: 30px 0;
    font-size: 17px;
}
.button-welcome{
    background: linear-gradient(129deg, #bc51ff, #de98ff);
    color: white;
    padding: 7px 20px;
    border: none;
    font-size: 17px;
    border-radius: 2px;
    cursor: pointer;
}
.welcome-image{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-ini{
    width: 100%;
    max-width: 200px;
}
.back-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    filter: invert(1);
    object-fit: cover;
}