.content{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.c-3d {
    /* box-shadow: 15px 15px 30px #e9e9e9, -4px -4px 30px #efefef; */
    box-shadow: 3px 10px 20px 0px #f4f4f4, -4px -4px 30px #efefef;
}
.title-bot{
    margin: 70px 5px;
    color: #afafaf;
    text-align: center;
}
.funcs-calc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.funcs{
    width: calc(100%/2 - 20px);
    margin: 10px 10px;
    height: 150px;
    background-color: #fbfbfb;
    border-radius: 5px;
    position: relative;
    align-items: center;
    display: flex;
}
.funcs:after{
    content: "";
    position: absolute;
    top: 10px;
    height: 5px;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    
}
.img-func{
    width: 110px;
    opacity: 0.9;
}