.svg-code{
    width: 100%;
    max-width: 190px;
}
.stick{
    transform-origin: center;
    animation: stick 3s infinite ease-in-out;
}
.tri-l{
    animation: left 3s infinite ease-in-out;
}
.tri-r{
    animation: right 3s infinite ease-in-out;
}

@keyframes stick{
    0%{
        transform: rotate(14deg) translateX(-5px);
    }
    50%{
        transform: rotate(14deg) translateX(-5px) translateY(3px);
        height: 40px;
    }
    100%{
        transform: rotate(14deg) translateX(-5px);
    }
}

@keyframes left{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes right{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0);
    }
}