.calculo-intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    position: relative;
    background: #e4eff6;
}

.calculo-intro-texto{
    color: #61686c;
}