/* HEADER  */
header{
    width: calc(100% - 20px);
    max-width: 1000px;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%)!important;
    border-radius: 50px;
    padding: 5px 10px;
    z-index: 1000;
    background: #fff;
}
.def-h{
    margin: 5px;
    display: flex;
}
.logo-img{
    width: 25px;
}
.logo{
    font-size: 17px!important;
    font-weight: bolder;
    width: 100px;
}
.bt-def-h{
    padding: 5px 10px;
    margin: 0 10px;
    color: #6f6f6f;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}