#navbar{
    width: 100%;
    max-width: 50px;
    background: #584d62;
}
.logo{
    padding: 5px!important;
}
.btn-nav{
    width: calc(100% - 10px);
    margin: 10px 5px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-nav:hover{
    background: #796a87;
}
.ativo{
    background: #796a87;
}
hr{
    width: calc(100% - 20px);
    margin: auto;
    border-color: #a497af;
}