.svg-cie{
    width: 100%;
    max-width: 100px;
}
.ball1{
    animation: ball1 2s infinite ease-in-out;
}
.ball2{
    animation: ball2 2s infinite ease-in;
}
.ball3{
    animation: ball3 2s infinite ease-out;
}
.ball4{
    animation: ball4 2s infinite ease;
}

@keyframes ball1{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes ball2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes ball3{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes ball4{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}