@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

html, body, #root{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #A38ED2 0%, #F9C1EB 100%);
}


*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family:'Karla', sans-serif;
    scroll-behavior: smooth;
}

#container{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1980px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    overflow: hidden;
}
#content-objects{
    overflow: hidden scroll;
    width: 100%;
}
button{
    background: none;
    border: none;
}
svg{
    width: 100%;
    height: 100%;
}